.app-footer {
  background-color: #000000; /* Black background */
  color: #ffffff; /* White text */
  min-height: 70dvh;
}

.footer-left-content {
  text-align: left;
}

.hello-there {
  font-size: 0.9rem;
  color: #aaaaaa;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.welcome-text {
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.2;
  margin-bottom: 30px;
}

.footer-links p {
  font-size: 0.9rem;
  margin-bottom: 8px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.footer-links p:hover {
  color: #87c7d1; /* A light teal for hover */
}

.footer-badges-area {
  position: relative; /* Needed for Draggable bounds */

  min-height: 100%;
  background-color: #000000;
  overflow: hidden; /* Prevents badges from going outside visually */
  overflow: hidden;
  display: flex;
  align-items: center;
}

.footer-badge {
  cursor: grab;
  width: 210px;
  height: auto;
  user-select: none;
  z-index: 10;
}

.badge-peace {
  width: 210px;

  transform: translate(-10px, 0);
}

.badge-mushroom {
  width: 210px;
  top: 60px;
  right: 20px;
}

.badge-blue-creature {
  width: 210px;
  top: 200px;
  left: 0px;
}

.badge-purple-creature {
  width: 210px;
  top: 250px;
  left: 150px;
}

.badge-tutto-passa-text {
  width: 170px;
  top: 290px;
  right: 20px;
  filter: invert(1);
}

.footer-bottom {
  border-color: #333 !important;
  padding-top: 15px !important;
  font-size: 0.8rem;
  color: #999999;
}

.footer-bottom p {
  margin-bottom: 0;
}
