.functional-ingredients {
  background: #fdf4e7;
}

/* === Marquee (Infinite Scrolling Text) === */
.marquee {
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 2px solid black;
  font-weight: bold;
  background: #fdf4e7;
}

.track {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

.track span {
  display: inline-block;
  padding-right: 2rem;
  font-size: 1rem;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* === Stats === */
.stats {
  margin-bottom: 20px;
}

.stat-row {
  margin-bottom: 10px;
}

.stat-row p {
  font-size: 0.85rem;
  font-weight: bold;
  margin: 0 0 5px;
}

.bar-blocks {
  display: flex;
  gap: 6px;
}

.block {
  width: 20%;
  height: 12px;
  border-radius: 4px;
  background: #e0d6f9;
}

.block.filled {
  background: var(--primary-color);
}

/* === Girl === */
.girl {
  position: relative;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;
}
.girl img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: breath 4s linear infinite;
  transform: scale(1);
  transform-origin: bottom;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.015);
  }

  60% {
    transform: scale(1);
  }
  90% {
    transform: scale(1.015);
  }
  100% {
    transform: scale(1);
  }
}

.animationLevelUp {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(1.9);
  height: 100%;
  width: 100%;
  transform-origin: bottom;
  filter: hue-rotate(105deg);
}

@keyframes levelUpShake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-4px, 0) rotate(-3deg);
  }
  40% {
    transform: translate(4px, 0) rotate(3deg);
  }
  60% {
    transform: translate(-4px, 0) rotate(-3deg);
  }
  80% {
    transform: translate(4px, 0) rotate(3deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

.level-up {
  display: inline-block;
  animation: levelUpShake 0.4s ease-in-out;
}

/* === Description === */

/* === Flower Cards === */
.flower-card {
  border-radius: 3em !important;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
  height: 40dvh !important;
  min-height: 400px !important;
  border: 4px solid transparent !important;
  background: #fdf4e7 !important  ;
}

.flower-card.active {
  border: 4px solid black !important;
}

.flower-card:hover {
  transform: translateY(-3px);
}

.flower-img {
  padding: 3em;
  height: 80%;
  object-fit: contain;
  border-radius: 3em !important;
}

.bg-grad {
  background: linear-gradient(180deg, #d8b6d6 0%, #8984b9 100%);
}
