.heroSlides {
  position: relative;
  width: 100dvw;
  height: 300vh; /* for 3 slides */
  overflow: visible;
}

.slidesContainer {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100dvw;
  overflow: hidden;
}
.heroSlides,
.slidesContainer {
  width: calc(100dvw - var(--scrollbar-width));
}

.mainSlide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100vh;
  overflow: clip;
  will-change: width;
  transition: width 0.1s linear;
}

.mainSlide.A {
  z-index: 3;
  background: #111;
}
.mainSlide.B {
  z-index: 2;
  background: #333;
}
.mainSlide.C {
  z-index: 1;
  background: #555;
}

.innerContent {
  position: absolute;
  width: 100dvw;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

/* .heroSlides {
  position: relative;
  height: 100vh;
  width: 99dvw;
  overflow: hidden !important;
}

.mainSlide {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100%;
  overflow: hidden !important;
}


.mainSlide.A {
  z-index: 3;
  animation: widthShrink 5s ease-in-out forwards;
  overflow: hidden;
}
.mainSlide.B {
  z-index: 2;
  animation: widthShrink 5s ease-in-out forwards;
  animation-delay: 10s;
  overflow: hidden;
}
.mainSlide.C {
  z-index: 1;
  overflow: hidden;
}

.mainSlide.A .innerContent,
.mainSlide.B .innerContent,
.mainSlide.C .innerContent {
  position: absolute;
  width: 100dvw;
  height: 100%;
  left: 0;
  top: 0;
}

@keyframes widthShrink {
  0% {
    width: 100dvw;
  }
  100% {
    width: 0dvw;
  }
} */

.imgSlider {
  z-index: 2;
  height: 75vh;
  position: relative;
  width: 80%;
  animation: float 2s ease-in-out infinite;
}
.hero-img {
  height: 100%;
  object-fit: cover;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-55%);
  overflow-x: hidden;
}

.slide1 {
  z-index: 5;
  width: 100%;
  height: 100%;
}

.slide2 {
  z-index: 4;
  width: 100%;
  height: 100%;
}
.slide3 {
  z-index: 3;
  width: 100%;
  height: 100%;
}
@keyframes imgSliderHero {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.slide1 {
  /* animation: imgSliderHero 8s ease-in infinite; */
}

.slide2 {
  /* animation: imgSliderHero 8s ease-in infinite; */
  animation-delay: 2s;
}

.patternBox {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow-y: hidden;
  transform: translateX(-50%);
}

.patternBox .inner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transform: translateY(0%);
}

.patternBox .inner .innerBox1 {
  height: 15%;
}

.patternBox .inner .innerBox2 {
  height: 35%;
}

.patternBox .inner .innerBox3 {
  height: 25%;
}

.contentContainer {
  position: relative;
  z-index: 10;
}

.heroBg1 {
  background-color: #d9b3d9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100dvw;
  min-height: 100vh;
}

.heroBg2 {
  background-color: #f4a467;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100dvw;
  min-height: 100vh;
}

.heroBg3 {
  background-color: #74ccd1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100dvw;
  min-height: 100vh;
}

.revealAnim {
  /* animation: bgSlide 2s ease-in forwards; */
}

.revealAnim.del1 {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
}

@keyframes bgSlide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.revertAnim {
  /* animation: bgSlide2 2s ease-out forwards; */
}

.revertAnim.del2 {
  animation-duration: 2.3s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes bgSlide2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Pattern ANimation */

/* ==========================Pattern Animation 1 */
/* .inner.activePat {
  animation: patternAnim 2s ease-in-out forwards;
  display: flex !important;
}

@keyframes patternAnim {
  0% {
    scale: 0;
  }

  100% {
    scale: 1;
  }
}

.inner.inactivePat {
  animation: patternAnim2 1s ease-in-out forwards;
}

@keyframes patternAnim2 {
  0% {
    scale: 1;
    opacity: 1;
  }

  99% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 0;
    display: none;
    opacity: 0;
  }
} */

/* ==========================Pattern Animation 2 */

.inner.dropAnim1.forw {
  /* animation: translateDrop1 1s ease-in-out forwards; */
  animation-delay: 0.2s;
  transform: translateY(0%);
}

.inner.dropAnim1.rev {
  /* animation: translateDropRev 1.5s ease-in-out forwards; */
  animation-delay: 0.3s;

  transform: translateY(-200%);
}

@keyframes translateDrop1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.inner.dropAnim2.forw {
  /* animation: translateDrop2 1s ease-out forwards; */
  animation-delay: 0.2s;
  transform: translateY(-100%);
}

@keyframes translateDrop2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes translateDropRev {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.inner.rev {
  /* animation: translateDropRev2 2s ease-out forwards; */
  animation-delay: 1s;
  transform: translateY(-100%);
}

@keyframes translateDropRev2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
/* ==================================Pattern Animation Ends===.> */

.revealTxt {
  /* animation: textReveal 2s ease-in-out forwards; */
}
@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.transDelay {
  transition: all 2s ease-in-out !important;
}

@media only screen and (max-width: 1790px) {
  .imgSlider {
    height: 75vh;
    max-height: 770px;
    width: 100%;
  }
  .tFont {
    font-size: 7vh !important;
  }
}

@media only screen and (max-width: 1280px) {
  .imgSlider {
    height: 65vh;
    width: 100%;
  }
  .tFont {
    font-size: 6vh !important;
  }
}

@media only screen and (max-width: 1080px) {
  .imgSlider {
    height: 50vh;
    width: 100%;
  }
  .tFont {
    font-size: 5vh !important;
  }
  .pFont.fs-5 {
    font-size: 1rem !important;
  }
  .smFont.fs-4 {
    font-size: 0.9rem !important;
  }
  /* .hero {
    min-height: 80vh !important;
  } */

  .bottomIcons {
    bottom: -6em !important;
  }
  .btmIco {
    height: 2.5rem !important;
  }
  .bottomIcons p {
    font-size: 0.8em !important;
  }
}

@media only screen and (max-width: 992px) {
  .bottomIcons {
    bottom: -1.5em !important;
  }
  .hero-img {
    height: 90%;
  }
  .slide1,
  .slide2,
  .slide3 {
    left: 50% !important;
    transform: translate(-30%, -50%) !important;
  }

  .revealAnim.del1 {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  .revertAnim.del2 {
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

@media only screen and (max-width: 600px) {
  .bottomIcons {
    bottom: -1.5em !important;
  }
  .hero-img {
    height: 90%;
  }
  .slide1,
  .slide2,
  .slide3 {
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
  .revealAnim.del1 {
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
  }

  .revertAnim.del2 {
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
  }
}
