/* .imgSlider {
  z-index: 2;
  height: 75dvh;
  position: relative;
  width: 80%;
  animation: float 2s ease-in-out infinite;
}
.hero-img {
  height: 100%;
  object-fit: cover;
}
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

.slide1,
.slide2,
.slide3 {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-55%);
  overflow-x: hidden;
}

.slide1 {
  z-index: 5;
  width: 100%;
  height: 100%;
}

.slide2 {
  z-index: 4;
  width: 100%;
  height: 100%;
}
.slide3 {
  z-index: 3;
  width: 100%;
  height: 100%;
}
@keyframes imgSliderHero {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.slide1 {
  animation: imgSliderHero 8s ease-in infinite;
}

.slide2 {
  animation: imgSliderHero 8s ease-in infinite;
  animation-delay: 2s;
}

.patternBox {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  overflow-y: hidden;
  transform: translateX(-50%);
}

.patternBox .inner {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  transform: translateY(0%);
}

.patternBox .inner .innerBox1 {
  height: 15%;
}

.patternBox .inner .innerBox2 {
  height: 35%;
}

.patternBox .inner .innerBox3 {
  height: 25%;
}

.contentContainer {
  position: relative;
  z-index: 10;
}

.heroBg1 {
  background-color: #d9b3d9;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100dvw;
  min-height: 100dvh;
}

.heroBg2 {
  background-color: #f4a467;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100dvw;
  min-height: 100dvh;
}

.heroBg3 {
  background-color: #74ccd1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100dvw;
  min-height: 100dvh;
}

.revealAnim {
  animation: bgSlide 2s ease-in forwards;
}

.revealAnim.del1 {
  animation-duration: 1.8s;
  animation-timing-function: ease-in-out;
}

@keyframes bgSlide {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.revertAnim {
  animation: bgSlide2 2s ease-out forwards;
}

.revertAnim.del2 {
  animation-duration: 2.3s;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes bgSlide2 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}



.inner.dropAnim1.forw {
  animation: translateDrop1 1s ease-in-out forwards;
  animation-delay: 0.2s;
  transform: translateY(0%);
}

.inner.dropAnim1.rev {
  animation: translateDropRev 1.5s ease-in-out forwards;
  animation-delay: 0.3s;

  transform: translateY(-200%);
}

@keyframes translateDrop1 {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.inner.dropAnim2.forw {
  animation: translateDrop2 1s ease-out forwards;
  animation-delay: 0.2s;
  transform: translateY(-100%);
}

@keyframes translateDrop2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-200%);
  }
}

@keyframes translateDropRev {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.inner.rev {
  animation: translateDropRev2 2s ease-out forwards;
  animation-delay: 1s;
  transform: translateY(-100%);
}

@keyframes translateDropRev2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}


.revealTxt {
  animation: textReveal 2s ease-in-out forwards;
}
@keyframes textReveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.transDelay {
  transition: all 2s ease-in-out !important;
}

@media only screen and (max-width: 1790px) {
  .imgSlider {
    height: 75dvh;
    width: 100%;
  }
  .tFont {
    font-size: 7dvh !important;
  }
}

@media only screen and (max-width: 1280px) {
  .imgSlider {
    height: 65dvh;
    width: 100%;
  }
  .tFont {
    font-size: 6dvh !important;
  }
}

@media only screen and (max-width: 1080px) {
  .imgSlider {
    height: 50dvh;
    width: 100%;
  }
  .tFont {
    font-size: 5dvh !important;
  }
  .pFont.fs-5 {
    font-size: 1rem !important;
  }
  .smFont.fs-4 {
    font-size: 0.9rem !important;
  }


  .bottomIcons {
    bottom: -6em !important;
  }
  .btmIco {
    height: 2.5rem !important;
  }
  .bottomIcons p {
    font-size: 0.8em !important;
  }
}

@media only screen and (max-width: 992px) {
  .bottomIcons {
    bottom: -1.5em !important;
  }
  .hero-img {
    height: 90%;
  }
  .slide1,
  .slide2,
  .slide3 {
    left: 23% !important;
  }

  .revealAnim.del1 {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }

  .revertAnim.del2 {
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
}

@media only screen and (max-width: 600px) {
  .bottomIcons {
    bottom: -1.5em !important;
  }
  .hero-img {
    height: 90%;
  }
  .slide1,
  .slide2,
  .slide3 {
    left: 1% !important;
  }
  .revealAnim.del1 {
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
  }

  .revertAnim.del2 {
    animation-duration: 1.7s;
    animation-timing-function: ease-in-out;
  }
} */
