.prodImg {
  position: absolute;
  left: 0%;
  top: 50%;
  height: 75dvh;
  transform: translateY(-50%);
  overflow-x: hidden;
}

@media screen and (max-width: 1400px) {
  .tVFont {
    font-size: 4dvw !important;
  }
  .dVFont.fs-5,
  .lVFont,
  .smdVFont {
    font-size: 1.1rem !important;
  }
  .btmPattern {
    left: 35% !important;
    transform: translateX(35%) !important;
  }
}

@media screen and (max-width: 992px) {
  .reviewBox {
    left: 0;
    min-height: 25dvh !important;
    max-width: 40dvw !important;
  }
  .btmPattern {
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 5 !important;
    /* scale: 0.8; */
  }
  .pCta {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.5);
  }
  .dVFont.fs-5,
  .lVFont,
  .smdVFont {
    font-size: 1rem !important;
  }
  .prodImg {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60dvh;
    transform: translate(-50%, -50%);
    overflow-x: hidden;
  }
}

@media screen and (max-width: 768px) {
  .tVFont {
    font-size: 5dvw !important;
  }
  .pCta {
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0);
  }
  .dVFont.fs-5 {
    font-size: 0.9rem !important;
  }
}
@media screen and (max-width: 512px) {
  .tVFont {
    font-size: 10dvw !important;
  }
}
